body {
    margin: 0;
    padding: 0;
    background: lightgreen;
    font-family: Arial, sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
  }

  .rejouer {
    padding: 10px 20px;
    font-size: 1rem;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .rejouer:hover {
    background: darkgreen;
  }


  h1 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  #gameCanvas {
    background: black;
    border: 2px solid #fff;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  #score {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
